.index {
    background-color: #d8e2dc;
}

h1 {
   color: #fefee3;
    background-color: #2b2d42;
}

h2 {
    color: #fefee3;
    background-color: #f94144;
}

h3 {
    color: #fefee3;
    background-color: #f25c54;
    
}